.MuiPaper-rounded{
    padding: 10px;
}
.MuiCard-root img {
    width: 250px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
li {
    list-style: none;
}
@media screen and (max-width: 1024px){
    .MuiCard-root img {
        width: 200px;
    }

}
@media screen and (max-width: 768px){
    .MuiCard-root img {
        width: 100px;
    }

}