.MuiPaper-rounded{
    padding: 10px;
}
.MuiCard-root img {
    width: 250px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.MuiDivider-root{
    margin: 10px 0 !important;
}
li {
    list-style: none;
}
.grid-image img{
    max-width: 100%;
    display: block;
    margin: 0 auto 10px;
}
.info-img{
    display: block;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
.multiple-checkbox{
    cursor: pointer;
    transform: scale(1.5);
    margin-right: 20px;
}
@media screen and (max-width: 1024px){
    .MuiCard-root img {
        width: 200px;
    }

}
@media screen and (max-width: 768px){
    .MuiCard-root img {
        width: 100px;
    }

}